<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Welcome to the Home Page</h1>
        <p class="text-center">
            <a href="{{ url_for('main') }}" class="btn btn-primary">Go to Main Page</a>
        </p>
    </div>
<!--for Bootstrap’s JavaScript functionality-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!--for positioning elements such as tooltips-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>